@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

:root {
  --s26-blue: #243a46;
  --s26-dark-blue: #1a2830;
  --s26-blue-gray: #3a6379;
  --s26-success: #00aa70;
  --s26-info: rgb(0, 122, 255);
  --s26-white: #fafbfc;
  --s26-gray: #eff0f2;
  --s26-black-color: #212e36;
  --s26-black-dark-color: #1b2831;
  --s26-blacker-color: #192229;
  --s26-blackest-color: #121a21;
}

*, body {
  font-size: .95rem;
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
}

/* SCROLLBAR PERSONALIZADO */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to
/* .fade-leave-active below version 2.1.8 */

  {
  opacity: 0
}

::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
  /* Ocultar scroll */
}

/*fondo y redondeamos las esquinas del thumb */

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */

::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[email] {
  text-transform: none;
}

[tabindex]:focus {
  outline: none;
}

/* Colors */

.bg-s26-blue-gray {
  background-color: var(--s26-blue-gray);
}

/* Config Reset */

.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link, .form-control:focus, .custom-select:focus {
  box-shadow: none !important;
}

/* Reset a */

.rst-a {
  text-decoration: none;
  color: inherit;
}

/* TEXTAREA  */

textarea.resize-none {
  resize: none;
}

/* Config Reset Form-control DIV */

.form-control-sm {
  height: 2em;
  padding: .35rem .5rem;
}

.form-control:focus:not(button), .form-select:focus {
  border-color: var(--s26-info);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
  transition: .3s;
}

.col-form-label, label, .form-control-sm, .form-control:focus, .form-icon-dollar {
  color: var(--s26-blue)
}

.s26-form-group {
  position: relative;
}

.s26-form-group .form-control-dollars {
  text-align: right;
}

.s26-form-group .form-icon-dollar {
  position: absolute;
  top: 2.4rem;
  left: 0.5rem;
}

/* Config Reset Modal */

.modal-content {
  box-shadow: 1px 3px 3px 0 rgb(0 0 0 / 20%), 1px 3px 15px 2px rgb(0 0 0 / 20%);
  border: 0;
}

.modal-header {
  padding: .5rem 1rem;
  align-items: center;
}

.modal-header h5, .col-form-label {
  font-weight: 600;
}

#s26-security-code.modal {
  background: rgba(0, 0, 0, .3);
}

.modal-multiple-body form {
  position: relative;
  height: 100%;
}

.modal-multiple-body .container-level {
  position: absolute;
  margin: auto;
  width: 100%;
  padding: 1rem;
}

/* GENERAL CLASSES */

.show {
  transition: .3s;
  visibility: visible;
  opacity: 1;
}

.hide {
  transition: .3s;
  visibility: collapse;
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.s26-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s26-align-y-center {
  display: flex;
  align-items: center;
}

/* OPACITY */

.opacity-0 {
  opacity: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: .50;
}

.opacity-75 {
  opacity: .75;
}

.opacity-1 {
  opacity: 1;
}

/* PERSONALICE ALERTIFY */

div.ajs-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.ajs-modal .ajs-dialog {
  width: 500px;
}

div.alertify .ajs-header {
  background: white;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--s26-blue);
  border-radius: .3rem;
}

div.alertify .ajs-body {
  color: var(--s26-blue);
}

div.alertify .ajs-footer {
  background: white;
  border: 0;
  padding: .75rem;
  border-radius: .3rem;
}

/* CUSTOM BTN S26 */

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon, .btn-times, .btn-icon-close, .btn-hide-menu {
  border: none;
  border-radius: 50%;
  background: none;
  transition: 0.3s;
  text-decoration: none;
}

.btn-icon, .btn-times, .btn-hide-menu {
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn-icon:hover, .btn-times:hover, .btn-hide-menu:hover, .btn-icon-auto:hover {
  background: rgba(0, 0, 0, 0.3);
}

.btn-icon-auto {
  text-decoration: none;
  color: #fff;
  border-radius: 1rem;
  padding: .5rem;
}

.btn-icon-auto:hover {
  color: #fff;
}

.btn-s26-dash {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.btn-icon-close {
  width: 2rem;
  height: 2rem;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.3);
}

.btn-hide-sidebar {
  position: absolute;
  top: 10px;
  right: 25px;
}

.btn-show-sidebar {
  position: fixed;
  bottom: 10px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: none;
  border-radius: 0 25% 25% 0;
  transition: 0.3s;
  padding: .5rem;
  box-shadow: 0 0 6px -1px var(--bs-dark);
  cursor: pointer;
}

.icon_asterisk_required {
  position: absolute;
  font-size: .5rem;
}

/* ELEVATED BUTTON */

button.btn:not(.btn-link) {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
  transition: .3s;
}

button.btn:hover:not(.btn-link), button.btn:focus:not(.btn-link) {
  transform: translate(0, -5%);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
}

/* Reset Select Bootstrap */

.form-select {
  background: none;
  padding-right: 0;
  -webkit-appearance: menulist;
  appearance: menulist;
  background-color: var(--bs-white)
}

.form-select.is-invalid {
  background: none;
  padding-right: 0;
}

/* CUSTOM SELECT SEARCH  */

.s26-custom-select {
  position: relative;
  cursor: pointer;
}

.s26-custom-select .s26-select-value {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-angle-down {
  position: absolute;
  font-size: 1rem;
  right: 10px;
}

.s26-select-container {
  position: fixed;
  display: none;
  width: 100%;
  height: 275px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 0 9px 0 #80808078;
  z-index: 1000;
}

.search-select {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0;
}

.s26-select-container-options {
  height: 185px;
  overflow: auto;
}

.s26-select-container-options::-webkit-scrollbar {
  width: 6px;
}

.s26-select-container-options::-webkit-scrollbar-thumb {
  background: var(--s26-blue-gray);
  border-radius: 4px;
}

.s26-select-container-options::-webkit-scrollbar-thumb:hover {
  background: #517c94;
}

.s26-select-container-options::-webkit-scrollbar-thumb:active {
  background: #608092;
}

.s26-select-options {
  padding: 0.4rem 0.8rem;
}

.s26-select-options:hover, .s26-select-options.focus, .s26-select-options:focus {
  background-color: var(--bs-primary);
  color: #fff;
  transition: 0.2s;
}

.actions-select {
  position: absolute;
  height: 38px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions-select .btn-icon {
  font-size: 0.9rem;
  width: 1.9rem;
  height: 1.9rem;
}

.actions-select .btn-icon:hover {
  background: rgba(0, 0, 0, 0.062);
}

.actions-select .btn-icon {
  color: rgba(0, 0, 0, 0.219);
}

/* INPUT SEARCH 1 */

.s26-container-search {
  border-bottom: 1px solid #ced4da;
  display: flex;
  align-items: center;
  transition: 0.3s;
  height: 2em;
}

.s26-container-search.focus {
  border-color: var(--s26-info);
  box-shadow: 0 3px 6px 0px rgb(0 0 0 / 12%) !important;
}

.s26-container-search button {
  display: flex;
  text-align: center;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 0.85rem;
  border: 0;
  background: none;
  color: #bebebe;
  transition: 0.3s;
}

.s26-container-search .s26-btn {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s26-container-search .s26-btn-search button:hover, .s26-container-search .s26-btn-search button:focus {
  color: var(--bs-primary);
  outline: none;
}

.s26-container-search .s26-btn-cancel button:hover, .s26-container-search .s26-btn-cancel button:focus {
  color: var(--bs-danger);
  outline: none;
}

.s26-container-search .s26-input-search {
  width: 90%;
}

.s26-container-search .s26-input-search input {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0.35rem 0.5rem;
  background: none;
}

.s26-container-search .s26-input-search input:focus {
  outline: none;
}

/* CUSTOM CHECKBOX SWITCH */

.s26-checkbox-switch label {
  display: inline-block;
  height: 1.25rem;
  width: 2.1875rem;
  border-radius: 0.625rem;
  background-color: #fff;
  border: #adb5bd solid 1px;
  cursor: pointer;
  position: relative;
  margin: 0;
  vertical-align: middle;
}

.s26-checkbox-switch label:after {
  content: "";
  display: block;
  width: calc(1.25rem - 4px);
  height: calc(1.25rem - 4px);
  background-color: #adb5bd;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 0.1rem;
  transition: 0.3s;
}

.s26-checkbox-switch input[type="checkbox"]:checked+label::after {
  left: 0.98rem;
  background-color: #fff;
}

.s26-checkbox-switch input[type="checkbox"]:checked+label {
  background-color: #007bff;
  border: #007bff solid 1px;
  transition: 0.5s;
}

.s26-checkbox-switch input[type="checkbox"] {
  display: none;
}

/* CUSTOM NOTIFIER */

.alertify-notifier div.ajs-message.ajs-success {
  color: var(--bs-success);
  background: white;
  text-shadow: none;
  border-radius: .5rem;
  border: solid 1px var(--bs-success);
  box-shadow: 0 0 5px -1px var(--bs-success);
}

.alertify-notifier div.ajs-message.ajs-error {
  color: var(--bs-danger);
  background: white;
  text-shadow: none;
  border-radius: .5rem;
  border: solid 1px var(--bs-danger);
  box-shadow: 0 0 5px -1px var(--bs-danger);
}

.alertify-notifier div.ajs-message {
  color: var(--s26-blue);
  background: white;
  text-shadow: none;
  border-radius: .5rem;
  border: solid 1px var(--s26-blue-gray);
  box-shadow: 0 0 5px -1px var(--s26-blue-gray);
}

.alertify-notifier div.ajs-message.ajs-warning {
  color: var(--s26-blue);
  background: white;
  text-shadow: none;
  border-radius: .5rem;
  border: solid 1px var(--bs-warning);
  box-shadow: 0 0 5px -1px var(--bs-warning);
}

/* IVALID FEEDBACK */

.invalid-feedback {
  text-transform: none;
}

/* MAIN CONTAINER */

.s26-container {
  padding-top: 3.27rem;
  height: 100vh;
  margin-right: 0;
  margin-left: 0;
}

.align-items {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: -10px;
  margin-left: -10px;
}

.container-sidebar, .s26-container-table {
  height: 89vh;
  padding-bottom: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar {
  position: fixed;
  width: 25%;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  transition: .3s;
  z-index: 1040;
  transition: .3s;
}

.hideSidebar {
  left: -25%;
}

.main {
  position: fixed;
  width: 75%;
  left: 25%;
  padding-left: 15px;
  padding-right: 15px;
  transition: .3s;
}

.mainWidth-100 {
  left: 0;
  width: 100%;
}

.container-sidebar {
  box-shadow: 0px 0px 6px -3px var(--bs-dark);
  border-radius: .7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.container-sidebar .sidebar-head h1, .container-sidebar .sidebar-head h1 i {
  font-size: 2rem;
  font-weight: 600;
}

.container-sidebar .accordion {
  padding: .5rem 0;
  transition: .4s;
}

.container-sidebar .accordion .title {
  font-size: 1.25rem;
  font-weight: 600;
}

.container-sidebar .accordion .title span {
  font-size: 1rem;
}

.container-sidebar footer {
  margin-top: 1.5rem;
}

.s26-tarjet {
  width: 100%;
  min-height: 55px;
  display: flex;
  padding: .5rem 0;
  border: .5px solid rgb(93 130 170 / 21%);
  border-radius: .5rem;
  box-shadow: 0 10px 5px -8px rgb(93 130 170 / 21%);
  margin-bottom: .5rem;
}

.s26-tarjet .s26-tarjet-info .title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.s26-tarjet-icon {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-icon {
  width: 35px;
  height: 35px;
  font-size: 1.1rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s26-tarjet-info {
  width: 75%;
}

/* Custpm Tables */

.s26-container-table {
  overflow-x: auto;
}

.s26-container-table .s26-table {
  width: 100%;
  display: table;
  text-indent: initial;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 1rem;
  text-transform: capitalize;
  margin-top: -.9rem;
}

.s26-table thead tr th:first-child, .s26-table tbody tr td:first-child, .table thead tr th:first-child, .table tbody tr td:first-child {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-left: 1px solid #e2e2e2;
}

.s26-table thead tr th:last-child, .s26-table tbody tr td:last-child, .table thead tr th:last-child, .table tbody tr td:last-child {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-right: 1px solid #e2e2e2;
  text-align: center;
}

.s26-table thead tr th, .table thead tr th {
  border: none;
  padding: .5rem .75rem;
  position: sticky;
  top: 0;
  z-index: 1050;
}

.s26-table tbody tr {
  border-radius: 10px;
  transition: .3s;
}

.s26-table tbody tr td {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  padding: .5rem .75rem;
  vertical-align: middle;
  position: relative
}

.s26-table tbody tr:hover {
  cursor: pointer;
  box-shadow: 0 10px 5px -6px rgb(93 130 170 / 21%);
}

.s26-table .s26-nav-dropdown .s26-list-dropdown {
  position: absolute;
  width: 90px;
  right: 40%;
  z-index: 1040;
  border: 1px solid #ccd2db;
  box-shadow: 0 2px 3px 0 #ccd2db;
  border-radius: .28571429rem;
}

.s26-table .s26-nav-dropdown .s26-list-dropdown li {
  text-align: left;
  padding: .5rem;
}

.s26-table .s26-nav-dropdown .s26-list-dropdown li:hover {
  background: rgba(0, 0, 0, 0.1)
}

/* CUSTOM CHECKBOX */

.length-int {
  width: 8rem;
  min-width: 8rem;
}

.length-price {
  width: 6rem;
}

.length-date {
  width: 7rem;
}

.length-description {
  width: 25rem;
  max-width: 12rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.length-status, .length-stock, .length-action {
  width: 6rem;
}

/* TRANSICIONES  */

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

  {
  transform: translateX(10px);
  opacity: 0;
}

.s26-modal.slide-fade-enter, .s26-modal.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

  {
  transform: translateY(-20px);
  opacity: 0;
}

/* LOADING - PRELOADING */

.pre-loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: none;
  background: #fff;
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.pre-loading .s26-spinner {
  margin: auto;
}

.pre-loading .s26-spinner div {
  width: 500px;
  text-align: center;
  margin: 1rem;
}

.pre-loading .s26-spinner div .title {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 0.1rem 0.13rem rgb(0 0 0 / 50%);
}

/* CUSTOM MODAL */

.s26-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, .3);
}

.s26-modal .modal-body {
  max-height: 450px;
  overflow: auto;
}

.modal-dialog-centered {
  padding-top: 50px;
}

.s26-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  border-radius: .9rem;
  border: 0;
}

.modal-md {
  max-width: 720px;
}

/* S26 LOADING POINTS */

.s26-loading-points {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(238 238 238 / 38%);
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all .3s;
}

.points-loader, .points-loader:before, .points-loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation: points-loader 1.5s infinite ease-in-out;
}

.points-loader {
  color: var(--bs-primary);
  font-size: 13px;
  position: relative;
  animation-delay: -.16s;
}

.points-loader:before, .points-loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.points-loader:before {
  left: -3.5em;
  animation-delay: -.32s;
}

.points-loader:after {
  left: 3.5em;
}

/* Progessbar axios */

#nprogress {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

#nprogress .bar {
  background: var(--bs-info) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--bs-info), 0 0 5px var(--bs-info) !important;
}

#nprogress .spinner-icon {
  display: none;
}

/* PERMISOS DE ROL */

#roles-permits .modal-body {
  max-height: 400px;
  margin-top: 1rem;
  padding-top: 0;
  overflow-y: auto;
}

#roles-permits .table tbody tr td {
  border: 0;
}

/* IMAGES  */

.container-img {
  position: relative;
}

.min-img {
  transition: .3s;
}

.min-img.checked {
  transition: .1s;
  border: 3px solid var(--bs-primary)
}

.min-img:hover:not(.hover-none), .min-img:focus:not(.hover-none) {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 22%);
}

.header-select-photo {
  position: sticky;
  top: 0;
  background-color: var(--bs-white);
  z-index: 1000;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}

.list-enter, .list-leave-to
/* .list-leave-active below version 2.1.8 */

  {
  opacity: 0;
}

.popover-info-img-left::before {
  position: absolute;
  content: "";
  width: 0.71428571em;
  height: 0.71428571em;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  border-left: 1px solid #bababc;
  border-bottom: 1px solid #bababc;
  margin-left: -0.30714286em;
  top: 50%;
  left: -.1rem;
  right: auto;
  bottom: auto;
}

@keyframes points-loader {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media only screen and (max-width: 36em) {
  .header-menu .navbar-top-left div, .header-menu .navbar-top-right div, .btn-s26-dash, .s26-container-table .s26-th-res {
    display: none !important;
  }
  .s26-navbar .menu {
    width: 100%;
    left: -100%;
  }
  .sidebar {
    width: 100%;
  }
  .hideSidebar {
    left: -100%;
  }
  .main {
    width: 100%;
    left: 0;
  }
}

/* xl */

@media (max-width: 1200px) {}

/* lg */

@media (max-width: 992px) {}

/* md */

@media (max-width: 768px) {}

/* sm */

@media (max-width: 576px) {}