/* TEMA S26 EMPRESARIAL */

body.s26-theme {
  background-color: var(--bs-light);
}

.s26-theme .s26-navbar-top, .s26-theme .s26-navbar .menu li.title-menu {
  background: var(--s26-blue);
}

.btn-hide-menu, .s26-theme .s26-navbar-top, .s26-theme .btn-s26-dash, .s26-theme .s26-navbar .menu li.title-menu {
  color: var(--bs-light) !important;
}

.s26-theme .s26-navbar ul {
  background: var(--bs-white);
  color: var(--s26-blue);
}

.s26-theme .s26-navbar .menu a {
  color: rgba(0, 0, 0, .5);
  transition: .3s;
}

.s26-theme .s26-navbar .menu a:hover, .s26-theme .s26-navbar .menu a:hover>i.icon-arrow, .s26-theme .s26-navbar .menu a.focus-menu, .s26-theme .focus-menu i.icon-arrow, .table, .main-user {
  color: var(--s26-blue) !important;
}

.s26-theme .btn-icon-close:hover {
  color: var(--bs-white)
}

.s26-theme .s26-navbar .menu a.btn-focus {
  color: var(--s26-blue);
  list-style: circle;
  font-weight: 700;
}

/* buttoms */

.s26-theme .btn-s26-success {
  color: var(--bs-white);
  background-color: #00aa70;
  border-color: #00aa70;
}

.s26-theme .btn-s26-success:hover {
  background-color: #008b5d;
  border-color: #008b5d;
}

.s26-theme .btn-s26-success:focus {
  background-color: #007950;
  border-color: #007950;
  box-shadow: none;
}

.s26-theme .btn-times, .s26-theme .s26-navbar-user ul li, .s26-theme .s26-navbar-user ul li a {
  color: var(--s26-blue);
}

.s26-theme .btn-show-sidebar, .s26-theme .modal-content, .s26-theme .s26-tarjet, .s26-theme .s26-table tbody tr:not(.skeleton-tr), .s26-theme .s26-table tbody tr td:not(.skeleton-tr td), .s26-theme .s26-nav-dropdown .s26-list-dropdown, .s26-theme .s26-date-picker .popup-date-picker, .s26-theme .content-options-user {
  background-color: var(--bs-white);
  color: var(--s26-blue);
}

/* Info Tables */

.s26-theme .container-sidebar {
  background-color: var(--bs-white);
  color: var(--s26-blue);
}

/* Custom Tables */

.s26-theme .s26-table thead tr th, .table thead tr th {
  background-color: var(--s26-blue-gray);
  color: var(--s26-white);
}

/* CUSTOM TARJETS INFO */

.s26-tarjet-primary .title {
  color: var(--bs-primary)
}

.s26-tarjet-primary .s26-tarjet-icon .circle-icon {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.s26-tarjet-secondary .title {
  color: var(--bs-secondary)
}

.s26-tarjet-secondary .s26-tarjet-icon .circle-icon {
  background-color: var(--bs-secondary);
  color: var(--bs-white);
}

.s26-tarjet-warning .title {
  color: var(--bs-warning)
}

.s26-tarjet-warning .s26-tarjet-icon .circle-icon {
  background-color: var(--bs-warning);
  color: var(--bs-white);
}

.s26-tarjet-success .title {
  color: var(--bs-success)
}

.s26-tarjet-success .s26-tarjet-icon .circle-icon {
  background-color: var(--bs-success);
  color: var(--bs-white);
}

.s26-tarjet-danger .title {
  color: var(--bs-danger)
}

.s26-tarjet-danger .s26-tarjet-icon .circle-icon {
  background-color: var(--bs-danger);
  color: var(--bs-white);
}

.s26-tarjet-purple .title {
  color: var(--bs-purple)
}

.s26-tarjet-purple .s26-tarjet-icon .circle-icon {
  background-color: var(--bs-purple);
  color: var(--bs-white);
}

.s26-tarjet-orange .title {
  color: var(--bs-orange)
}

.s26-tarjet-orange .s26-tarjet-icon .circle-icon {
  background-color: var(--bs-orange);
  color: var(--bs-white);
}

body.s26-dark-theme, .s26-dark-theme .s26-navbar-top {
  background-color: var(--s26-blacker-color);
  color: #fff;
}